/*------------------------------------------------------------------------------
------------------------------------Carousel------------------------------------
------------------------------------------------------------------------------*/
/* Define size for the carousel image */
.carousel-inner img
{
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Set the dark text caption */
.carousel-caption h3
{
  color: #3F1400;
}

/* Define default text color for the carousel */
.carousel-caption p
{
  color: #AA5C39;
  font-style: italic;
}

/* Create lighter colorings for the carousel indicators */
.carousel-indicators > li
{
  border-color: #E6B29A;
  background-color: #E6B29A;
}

/* Make the active indicator stand out more by making it darker */
.carousel-indicators > li.active
{
  border-color: #C57F60;
  background-color: #C57F60;
}

/* Match color of the glyphicons to the overall layout of the page*/
#dvmCarousel > a.carousel-control.right > span.glyphicon-chevron-right::before,
#dvmCarousel > a.carousel-control.left > span.glyphicon-chevron-left::before
{
  color: #E6B29A;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px)
{
  .carousel-caption
  {
    display: none;
  }
}
