/*------------------------------------------------------------------------------
-------------------------------------Contact------------------------------------
------------------------------------------------------------------------------*/
/* Add some padding to the top of the form-area on large screens only.*/
@media screen and (min-width: 768px)
{
  .form-area
  {
    padding-top: 90px;
  }
}

/* Position the text besides the contact form */
#textContactForm
{
  text-align: justify;
  display: inline-block;
}
