/*------------------------------------------------------------------------------
------------------------------------Generic-------------------------------------
------------------------------------------------------------------------------*/
/*
#E6B29A - Navigation, footer      - Broken white, white with a touch of brown/red
#C57F60 - Body background         - Ligth brown, similar to normal skin tone
#AA5C39 - Default text            - Brown, similar to dark skin tone
#742603 - Focus, active elements  - Red/brown, wood like color
#3F1400 - Hover, Captions         - Dark brown
*/

/* Needed to make the footer stick to the bottom of the page at all times */
html
{
  position: relative;
  min-height: 100%;
}

/* Set background of the page and add room for a sticky footer */
body
{
  background-color: #C57F60;
  margin-bottom: 50px; // Size of the footer
}

/* Set the dark text caption */
.container.text-center h3
{
  color: #3F1400;
}

/* Default hyperlink identification */
.container.text-center a
{
  color: #742603;
  text-decoration: underline;
}

/* Make the coloring a bit darker when hovering over a link */
.container.text-center a:focus,
.container.text-center a:hover
{
  color: #3F1400;
}

/* Identify the link as 'been there done that' */
.container.text-center a:visited
{
  color: #E6B29A;
}
